
@import url(/static/css/prettify.css);
@import url(/static/libs/cal-heatmap/cal-heatmap.css);

.single-blog-title h1 {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 35px; }
  @media only screen and (max-width: 767px) {
    .single-blog-title h1 {
      font-size: 28px; } }

.single-blog-title h3 {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 25px; }
  @media only screen and (max-width: 767px) {
    .single-blog-title h3 {
      font-size: 20px; } }

/* Dropdown menu automatically open with mouse hover */
.dropdown:hover > .dropdown-menu {
  display: block;
  top: 90%; }

.hero-area .hero-title-area {
  position: absolute;
  bottom: 150px;
  left: 0;
  width: 100%;
  z-index: 200; }

.list-style-hidden {
  list-style: none; }

/* Force image as a square */
.force-square {
  text-align: center;
  overflow: hidden; }
  .force-square img {
    max-width: none;
    width: auto !important; }
.h-97 {
    height: 97px; }
.h-70 {
    height: 70px; }

/* Force image as a rectangle */
.force-rectangle {
  text-align: center;
  overflow: hidden; }
  .force-rectangle img {
    max-width: none;
    width: auto !important; }
.h-195 {
  height: 195px; }

/* Reset styles for github-markdown.css */
.dot {
  width:11px;
  height:11px;
  border-radius:50%;
  background:black;
  margin:5px auto;
}

/* Color */
.mrrhp-bgcolor {
  background-color: #99CC66; }
.black p,
.black a {
  color:  black !important; }

/* Custom scrollUp */
#prevPage, #nextPage {
  background-color: #232323;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 46px;
  position: fixed;
  z-index: 2147483647;
  display: block;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
#prevPage {
  bottom: 115px;
  right: 60px; }
  #prevPage:hover {
    background-color: #0036FF; }
#nextPage {
  bottom: 170px;
  right: 60px; }
  #nextPage:hover {
    background-color: #6C00FF; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #prevPage {
    bottom: 85px;
    right: 30px; }
  #nextPage {
    bottom: 140px;
    right: 30px; } }
@media only screen and (max-width: 767px) {
  #prevPage {
    bottom: 85px;
    right: 30px; }
  #nextPage {
    bottom: 140px;
    right: 30px; } }

/* Gitlab activity, change appearance depends on 3 steps */
@media only screen and (min-width: 1199px) {
  #top-cal-heatmap {
    padding: 30px; } }
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  #top-cal-heatmap {
    padding: 2px;} }
@media only screen and (max-width: 767px) {
  #top-cal-heatmap-wrapper {
    display: none; } }

/* Background color */
.bg-beige {
  background: #f3e9dd !important; }
.bg-lightgreen {
  background: #ebf9cb !important; }

/* Padding */
.p-15 {
  padding: 15px; }
.p-30 {
  padding: 30px; }
.pt-15 {
  padding-top: 15px; }

.pt-30 {
  padding-top: 30px; }

.pt-50 {
  padding-top: 50px; }

.pt-70 {
  padding-top: 70px; }

.pt-100 {
  padding-top: 100px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-50 {
  padding-bottom: 50px; }

.pl-15 {
  padding-left: 15px; }

.pl-30 {
  padding-left: 30px; }

.pr-15 {
  padding-right: 15px; }

.pr-30 {
  padding-right: 30px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-100 {
  padding-bottom: 100px; }
